.myclass {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCJTin0w_qEQbKf8Q_7PkX3Q_PQlEhK2l-xwK9XBJ5Vm6cNjOG4A");
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  border: 5px solid;
}
